[Desktop Entry]
Name=Example Application
Comment=This is an example application for C++
Keywords=cpp;cmake;example;
Exec=SparkEngine
Icon=SparkEngine.png
Terminal=true
Type=Application
Categories=Utility;Photography;GNOME;GTK;
